/*  основний колір #212121 
    додатковий колір #757575
    колір оснвного фону #FFFFFF
    колір фону #F5F4FA
    акцент #2196F3
*/
:root {
    --basic-text-color: #212121;
    --basic-bcg-color: #fff;
    --add-text-color: #757575;
    --accent: #2196f3;
    --additional-bcg-color: #f5f4fA;
    --basic-logo-color: #000;
    --hero-bcg-color: #2f303a;
    --white-color: #fff;
    --address-bcg-color: #2f303a;
    --footer-contact-color: rgba(255, 255, 255, 0.6);

}
.list {
    list-style: none;
}
.link {
    color: inherit;
    text-decoration: none;
}
.btn {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}
.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
        
    white-space: nowrap;
    overflow: hidden; 
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    color: var(--basic-text-color);
    background-color: var(--basic-bcg-color);
    
}

/* Хедер */


/* Лого */

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--basic-logo-color);
}

/* Навігація в хедері */
.nav-link,
.contact-item  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--basic-logo-color);
}

.logo-color,
.current,
.nav-link:hover,
.nav-link:focus,
.contact-item:hover,
.contact-item:focus  {
    color: var(--accent);
}



/* Контакти */
.contact-item {
    color: var(--add-text-color);
}

/* Герой */
.hero-section {
    background-color: var(--hero-bcg-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent);
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--accent);
    background-color: var(--white-color);
}

/* Особливості компанії */
.features-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--add-text-color);
}

/* Чим ми займаємось */
.work-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* Наша команда */
.team {
    background-color: var(--additional-bcg-color);
}

.team-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.teammate-section {
    background-color: var(--white-color);
}

.teammate-name,
.teammate-pos  {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.teammate-pos {
    font-weight: 400;
    color: var(--add-text-color);
}

/* Футер */
.page-footer {
    background-color: var(--address-bcg-color);
}

.footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white-color);
}

.logotype-color {
    color: var(--accent);
}



.address-list {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.address-item {
    color: var(--white-color);
}

.address-item:hover,
.address-item:focus,
.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent);
}

.footer-contact {
    color: var(--footer-contact-color);
}


/* Портфоліо */

/* Фільтр */

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-color);
    background-color: var(--accent);
}

/* Проекти */

.project-item {
    background-color: var(--white-color);
}

.project-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--add-text-color);
}
